:root {
  --clr-primary-1: hsl(31, 77%, 52%);
  --clr-primary-2: hsl(184, 100%, 22%);
  --clr-primary-3: hsl(179, 100%, 13%);

  --clr-paragraph: hsla(0, 0%, 100%, 0.75);
  --clr-heading: hsl(0, 0%, 95%);

  --ff-heading: 'Big Shoulders Display', cursive;
  --ff-paragraph: 'Lexend Deca', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  font-family: var(--ff-paragraph);
  color: var(--clr-paragraph);
  font-size: 15px;
  margin-top: 0.3em;
  padding-left: 2.5em;
  padding-right: 5em;

  text-align: left;

  opacity: 75%;
}

h1 {
  font-family: var(--ff-heading);
  color: var(--clr-heading);
  font-size: 3em;
  padding-top: 1em;
  padding-left: .75em;
  margin-bottom: .5em;
}

button {
  margin-left: 2em;
  margin-top: 3em;
  margin-bottom: 1em;

  border-radius: 2em;
  border: 0px solid;

  text-align: center;
  font-size: 1.5em;

  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 2em;
  padding-right: 2em;

  background-color: white;

  font-family: var(--ff-paragraph);
  font-size: 1em;
}

.box {

  border: 0px solid;
  border-radius: 0.5em;
  overflow: hidden;
  
  max-width: 1000px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;

}

.box1 {
  background-color: var(--clr-primary-1);
}

.box2 {
  background-color: var(--clr-primary-2);
}

.box3 {
  background-color: var(--clr-primary-3);
}

img {
  padding-left: 2.5em;
  padding-top: 4.5em;
}

.button1 {
  color: var(--clr-primary-1);
}

.button2 {
  color: var(--clr-primary-2);
}

.button3 {
  color: var(--clr-primary-3);
}

button:hover {
  background-color: rgb(206, 199, 199);
}

button:active {
  font-size: 97%;
}

@media screen and (max-width: 1050px) {
  .box {flex-direction: column; max-width: 90%;}
}
